

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ContainerStudent {
  display: flex;
  justify-content: left;
  margin-top: 10px;
  background-color: grey;
}
h5{
  font-size: small;
  margin-left: 60px;
}
h6{
  margin-left: 30px;
  margin-top: 20px;
  color: rgb(10, 10, 10);
  font-size: 25px;
  font-weight: bold;
  text-shadow: rgb(156, 188, 248) 2px 2px 2px;
}
.conCard{
  width: 90%;
  margin: 0 auto;
}

.conCardPast{
  width: 90%;
  margin: 0 auto;
  display: flex;
}